// Colors
$white: #ffffff;
$dark-blue: #070724;
$grayish-blue: #38384f;
$grey: #838391;
$teal: #419ebb;
$yellow: #eda249;
$purple: #6f2ed6;
$orange: #d14c32;
$red: #d83a34;
$orangey: #cd5120;
$green: #1ec2a4;
$blue: #2d68f0;
