@use '../../styles' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(24);
  border-bottom: rem(1) solid hsla(0, 0%, 100%, 0.2);

  &__hamburger {
    width: rem(40);
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    background-image: url('../../assets/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &__logo {
    font-size: rem(28);
    letter-spacing: rem(-1.05);
    text-transform: uppercase;
    font-weight: 500;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: rem(33);
    display: none;
  }

  &__hamburger {
    display: block;
  }

  &__link {
    display: inline-block;
    padding-block: rem(35);
    border-top: rem(4) solid transparent;
    font-size: rem(11);
    font-weight: 700;
    line-height: rem(25);
    letter-spacing: rem(2);
    text-transform: uppercase;
    color: $grey;

    &:hover {
      color: $white;
      border-color: $teal;
    }
  }
}

@media (width >= rem(700)) {
  .header {
    flex-direction: column;
    padding: 0 rem(35) 0;

    &__hamburger {
      display: none;
    }

    &__menu {
      display: flex;
    }
  }
}

@media (width >= rem(1024)) {
  .header {
    flex-direction: row;
  }
}
