@use './styles/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('./assets/background-stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-blue;
  color: $white;
  font-family: 'Antonio', sans-serif;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
